/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    background-color: #f2f2f2;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 50px;
}
section {
    font-family: Arial, sans-serif;
    margin: 0 4px 0 4px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.exercise {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

button {
     background-color: #BA55D3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
     background-color: #800080;
}
